<%= render partial: "layouts/errors", locals: {object: @generator} %>

<%= form_for(@generator) do |f| %>
    <div class="field">
        <%= f.label :name %>
        <div class="control"> 
            <%= f.text_field :name, class: 'input', required:true %>
        </div> 
    </div> 
    <div class="field">
        <%= f.label :api_url, "API URL" %>
        <div class="control"> 
            <%= f.text_field :api_url, class: 'input', required:true %>          
        </div> 
    </div> 
    <div class="field">
        <%= f.label :description %>
        <div class="control"> 
            <%= f.text_area :description, class: 'textarea', required:true %>  
        </div> 
    </div> 
    <div class="field">   
        <div class="control"> 
            <%= f.submit "Submit Generator", class: 'button is-link' %> 
        </div> 
    </div>     
<% end %>