<% if @generator.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@generator.errors.count, "error") %> prohibited this generator from being saved:</h2>
    <ul>
    <% @generator.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@generator) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required:true %>
    </p>
    <p>
    <%= f.label :api_url, "API URL" %>
    <%= f.text_field :api_url, required:true %>          
    </p>
    <p>  
    <%= f.label :description %>
    <%= f.text_area :description, required:true %>  
    </p>
    <p>     
    <%= f.submit "Submit Generator" %>     
<% end %>