<p class="title is-5">Create a New Document</p>

<%= render partial: "layouts/errors", locals: {object: @document} %>

<%= form_for([@user, @document]) do |f| %>
        <div class="field">
            <%= f.label :name, class: 'label' %>
            <div class="control">
                <%= f.text_field :name, class: 'input', required:true %>
            </div>
        </div>
        <div class="field">      
            <%= f.label :generator, class: 'label' %>
            <div class="control">
                <%= collection_select(:generator, :id, Generator.all, :id, :name, {}, {:class=>'select'}) %>  
            </div>
        </div>
        <div class="field">        
            <%= f.label :prompt, class: 'label' %>
            <div class="control">
                <%= f.text_area :prompt, class: 'textarea', required:true %> 
            </div> 
        </div>
        <div class="field">     
            <%= f.label :length, class: 'label' %>
            <div class="control">
                <%= f.text_field :length, class: 'input', value: '1000' %>  
            </div>
        </div>
        <div class="field">     
            <div class="control">
                <label class="checkbox">            
                    <%= f.check_box :is_continuation, value:false %> 
                    Is continuation
                </label> 
            </div>
        </div>
        <div class="field">  
            <div class="control">  
                <label class="checkbox">
                    <%= f.check_box :start_at_beginning, value:true %>
                    Start at beginning
                </label>
            </div>  
        </div>
        <div class="field"> 
            <div class="control">  
                <label class="checkbox">
                    <%= f.check_box :pause_at_end, value:false %>               
                    Pause at end
                </label>
            </div> 
        </div>
        <div class="field">  
            <%= f.label :top_p, class: 'label' %>
            <div class="control">
                <%= f.text_field :top_p, class: 'input', value: '0.9' %> 
            </div> 
        </div>
        <div class="field">     
            <%= f.label :temperature, class: 'label' %>
            <div class="control">
                <%= f.text_field :temperature, class: 'input', value: '1.0' %>  
            </div>
        </div>
        <div class="field"> 
            <div class="control">
                <%= f.submit "Create Document", class: 'button is-link', :onclick => 'showLoading()' %>     
            </div>
        </div> 
        <div id="loading" class="loading">
            <progress class="progress is-link is-medium" max="100">15%</progress>  
        </div>
<% end %>

