<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to AICMS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/f8027915fa.js" crossorigin="anonymous"></script>     
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <section class="hero has-background-white-ter is-fullheight">
      <!-- .hero-head -->
      <nav class="hero-head">
          <div class="columns is-mobile is-marginless heading">
              <div class="column is-one-quarter">
                <p class="title is-6">AICMS</p>
              </div>          
              <div class="column has-text-right">
                  <% if logged_in? %>
                    <p class="subtitle is-6">
                      <%= link_to current_user.username, user_path(current_user.id) %> | 
                      <%= link_to "Logout", logout_path, method: :delete %> |
                      <%= link_to "Create Document", new_user_document_path(current_user.id) %> |
                      <%= link_to "Your Documents", user_documents_path(current_user.id) %> |
                      <%= link_to "Generator List", generators_path if admin? %>
                    </p>
                  <% else %>
                    <p class="subtitle is-6">
                      <%=link_to "Sign Up", signup_path %> |
                      <%=link_to "Log In", login_path %> 
                    </p>
                  <% end %>            
              </div>              
          </div>
      </nav>
      <!-- /.hero-head -->   

      <!-- .hero-body -->
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class ="column is-4-tablet is-5-desktop is-6-widescreen"> 
              <div class="box">  
                <%= yield %>
              </div>
            </div>
          </div>          
        </div>
      </div>                      
    </section>    
  </body>
</html>