<!DOCTYPE html>
<html>
  <head>
    <title>RailsFinalAicms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: "delete" %> |
        <%= link_to "Create Document", new_document_path %> |
        <%= link_to "Your Documents", documents_path %> |
        <%= link_to "Generator List", generators_path if admin? %>
      <% else %>
        <%=link_to "Sign Up", signup_path %> |
        <%=link_to "Log In", login_path %> 
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
